<div class="my-8 grid gap-4 sm:grid-cols-2">
  <div class="flex justify-center">
    <stripe-buy-button
      buy-button-id="buy_btn_1P1rEGFNcbnBdYhHOikfDRt9"
      publishable-key="pk_live_51OhySXFNcbnBdYhHGKWRpWPXQk5578cXTRXwzxKuxWXJZD7oPMRIPFNnUqGcKD8DsI2YSErBFtL6dW90J22F8U5U00ba3T7ltM"
    ></stripe-buy-button>
  </div>
  <div class="flex justify-center">
    <stripe-buy-button
      buy-button-id="buy_btn_1P1r8pFNcbnBdYhHETN2HXxb"
      publishable-key="pk_live_51OhySXFNcbnBdYhHGKWRpWPXQk5578cXTRXwzxKuxWXJZD7oPMRIPFNnUqGcKD8DsI2YSErBFtL6dW90J22F8U5U00ba3T7ltM"
    ></stripe-buy-button>
  </div>
</div>

<script async src="https://js.stripe.com/v3/buy-button.js"></script>
